/* @import "templatecolours.css"; */ 

 
 body{
     max-width:960px;
     margin-left: auto;
     margin-right: auto;
 }

 
 /* IMAGE SIZING CSS */
 #gusherderrick
 {
     width: 65px;
 }

 #headerlogo
 {
     max-width: 300px;
     height: 40px;
 }

 #coresamples
 {
     width: 200px;
     float: left;
     padding-right: 10px;
 }
 #footerlogo
 {
     max-width: 300px;
     height: 40px;
     background-image: url("http://007intranetjohn.azurewebsites.net/Google%20Earth%20PHP%20KML/Further%20Development/assets/images/Sunset rig.PNG");
 }



/* TEXT STYLING */

 h1 {
     font-family: 'Roboto', sans-serif;
     font-weight: bolder;
 }

 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
 }

 h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
 }

 p, a{
     font-family: 'Roboto', sans-serif;
     font-weight: normal;
 }


 
 h1 {
     font-size: 26px;
 }
 h2 {
     font-size: 22px;
 }
 h3 {
     font-size: 22px;
 }
 h4 {
     font-size: 18px;
 }
 p {
     font-size: 15px;
 }
 a {
     font-size: 15px;
 }

 
 /* COLOURINGS */
 #news{
     background-color:#DBC9DF;
 }
 #events{
     background-color: #782A7E;
 }
 /*footer{
     background-color: #363636;
 } */

 footer>p{
     width: 250px;
     margin-left: auto;
     margin-right: auto;
     color: white;
     height: 75px;
 }



