<configuration>
    <system.webServer>
        <staticContent>
           <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
           <mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
        </staticContent>
    </system.webServer>
</configuration>

